.app {
  background-color: #f6fbff;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s ease;

  h1,
  h2,
  h3,
  svg,
  span {
    color: #262f42;
    transition: color 0.2s ease;
  }

  p {
    color: #404e6b;
    transition: color 0.2s ease;
  }

  .panel {
    background-color: #f4f9ff;
  }

  .animate-track {
    background-color: #d9efff;
  }

  &.dark {
    background-color: #1b2127;

    h1,
    h2,
    h3,
    svg,
    span {
      color: #f4f9ff;
    }

    p {
      color: #f6fbff;
    }

    .panel {
      background-color: #0e1114;
    }

    .animate-track {
      background-color: #28475d;
    }
  }

  main {
    width: 100%;
    max-width: 700px;
    padding: 1rem;
  }
}

@import './panel';
