@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  // firefox scrollbar
  scrollbar-width: thin;
  scrollbar-color: #84cbfd #d9efff;
}

html,
body,
#root {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: 'Comfortaa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: rgb(38, 47, 66);
}

// scrollbar
::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #d9efff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #84cbfd;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #57b9ff;
}
