@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  // firefox scrollbar
  scrollbar-width: thin;
  scrollbar-color: rgba(82, 182, 253, 0.25) rgba(82, 182, 253, 0.25);

  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: 'Comfortaa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

button {
  padding: 12px;

  display: flex;
  align-items: center;

  border: none;
  border-radius: 5px;
  background: none;
  outline: none;
  cursor: pointer;

  &.small {
    padding: 8px;
  }

  &.active {
    background-color: rgba(82, 182, 253, 0.25);
  }

  &:hover {
    background-color: rgba(82, 182, 253, 0.25);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    &:hover {
      background-color: transparent;
    }
  }

  span {
    margin-left: 12px;
    font-size: 16px;
  }
}

// scrollbar
::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(82, 182, 253, 0.25);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(82, 182, 253, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(23, 158, 255, 0.8);
  background-color: rgba(82, 182, 253, 0.8);
}
