.song-container {
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 300px;
    border-radius: 40px;

    @media screen and (max-width: 1064px) {
      width: 250px;
    }
  }

  h1 {
    padding: 2rem 1rem 1rem 1rem;
  }
}
