.player {
  min-height: 20vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .time-control {
    width: 100%;

    display: flex;

    input {
      width: 100%;
    }

    p {
      padding: 1rem;
    }
  }

  .play-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    svg {
      cursor: pointer;
    }
  }
}
