.settings {
  flex: 1;
  padding: 0 8px;
  overflow-y: auto;

  .setting {
    margin: 12px 0 32px;

    h3 {
      margin: 12px 0;
    }
  }

  .theme-changer {
    display: flex;
    align-items: center;

    button {
      width: 100%;
      justify-content: center;

      &:first-child {
        margin-right: 8px;
      }
    }
  }

  .volume-slider {
    display: flex;
    align-items: center;

    button {
      margin-right: 8px;
    }
  }

  .settings-select {
    * {
      background-color: #ffffff;
      color: #262f42;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 5px;
      box-shadow: none;
      transition: none;
    }

    &.dark {
      * {
        background-color: #1b2127;
        color: #f4f9ff;
      }
    }

    .settings-select__control {
      height: 44px;
      border: 1px solid rgba(82, 182, 253, 0.5);
      border-radius: 5px;
    }

    .settings-select__menu {
      border: 1px solid rgba(82, 182, 253, 0.5);

      .settings-select__option {
        height: 40px;
        display: flex;
        align-items: center;

        &:hover {
          border-radius: 0;
          background-color: rgba(82, 182, 253, 0.25);
        }

        &.settings-select__option--is-selected {
          border-radius: 0;
          background-color: rgba(82, 182, 253, 0.25);
        }
      }
    }
  }
}
